.cost input{
    background-color:#2B3062;
    border: 1px solid white;
    color: white;
    border-radius: 2px;
   
   }
   .cost .card{
    background-color: #2B3062;
    color: white;
  }
   .cost-btn{
     background-color: #ff6400;
     padding: 8px 32px 8px 30px;
     border: none;
     border-radius: 5px;
   }
   .cost .name{
     width: 250px;
     color: white;
     background-color:#2B3062;
   }
   .cost .email{
     width: 250px;
     color: white;
     background-color:#2B3062;
   }
   .cost .phone{
     width: 250px;
    color: white;
    background-color:#2B3062;
   }
   .cost select{
     background-color:#2B3062;
    border: 1px solid white;
    color: white;
    width: 250px;
   }
    .cost ::placeholder{
     color: white;
   }
   @media only screen and (max-width: 400px) and (min-width: 320px) {
    .cost{
      font-size: 15px;
    }
   }