.contact{
   
    width:100%;
    background: linear-gradient(90deg, #908787 50%, #333333 50%);
    margin-bottom: -2%;
}
.contact button{
    background-color: #ff6400;
    color:#fff;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 500;
    border-radius: 6px;
    border:none;
}
.contact .card{
    align-items: center;
    align-content: center;
    display: inline-block;
   background: none;
   border: none;
   justify-content: center;
   margin-top: 7%;
}
.contact .form-control{
    background-color: #333333;
    border: 1px solid white;
    border-radius: 2px;
    width: 300px;
    color: #fff;
}
.contact input :focus {
    background-color: white;
  }

.contact textarea{
    background-color: #333333;
    border: 1px solid  white;
    border-radius: 2px;  
    width: 300px;
    color: white;
}
.contact ::placeholder{
    color: white;
}
.social a{
    color: #fff;
    width: 100%;
}
.card-map{
    margin-left: 10%;
    
}
.contact .row{
    padding-bottom: 5%;
}
